html,body, #root {
  height:100%;
}

.App {
  text-align: center;
  background: linear-gradient(to left, rgb(84, 51, 255), rgb(32, 189, 255), rgb(165, 254, 203));
  min-height: 100%;
  
  background-attachment: fixed;
}



h1{
   padding: 2vw 0 0 0;
   font-size: 4vw;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:black;
}


.slots, .day{
  font-size: 1.5vw;
  font-weight:bold ;
}
.sub{
  
  transition: transform 0.3s, border 0.3s , font-weight 0.3s, shadow 0.3s;
  font-size: 1.8vw;
  width:3vw!important;
  overflow: hidden;
  font-family: 'Mouse Memoirs', sans-serif;
 
}
.sub:hover{
  transform: scale(1.1);
  border: solid 2px transparent;
  border-radius: 20px;
  color:black;
  box-shadow: 1px 1px 3px;
}

table{
  border-radius: 1.6em;
  border-collapse: separate;
  border: solid 2px rgb(253, 253, 253);
  table-layout: fixed;
  box-sizing: content-box;
  padding: 10px;
  width: 70%;
  margin: 1em auto 2em auto;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0.8em 0.6em 1.2em ;
}

th, td{
  border: solid 0.13vw black;
  border-collapse: separate;
  border-radius: 0.7em;
  overflow: hidden;
  height: 5vw;
  border-spacing: 10px;
}



.dropdow{
  width:fit-content;
  margin:0.5vw;
  background-color:transparent;
  border:solid white 0.2vw;
  border-radius:20vw; 
  font-size:1vw;
}

@media only screen and (max-width: 768px)
{
  .day{
    font-size: 2vw;
   
  }
  table{
  table-layout: fixed;
  width:90%;
  }
  .sub{
    font-size: 2.5vw;
  }
  .dropdow{
    font-size:1.8vw;
    border:solid rgb(2, 2, 2) 0.5vw;
    width:fit-content;
  margin:0.5vw;
  background-color:rgba(255, 255, 255, 0.221);
  border:solid white 0.2vw;
  border-radius:20vw; 

  }
}


/*lets have a splash of colors*/

.day{
  color:brown;
}

.a, .at{
  background:radial-gradient(circle, rgb(230, 200, 32) 6%, rgb(238, 135, 51) 96%);
}
.b, .bt{
  background:radial-gradient(circle, rgb(227, 230, 232) 6%, rgb(51, 154, 238) 96%);
}

.c, .ct{
  background:radial-gradient(circle, rgb(176, 241, 211) 6%, rgb(34, 220, 74) 96%);
}

.d, .dt{
  background:radial-gradient(circle, rgb(241, 238, 222) 6%, rgb(228, 232, 3) 96%);
}

.e{
  background:radial-gradient(circle, rgb(234, 213, 228) 6%, rgb(237, 114, 211) 96%);
}

.f{
  background:radial-gradient(circle, rgb(238, 206, 192) 6%, rgb(220, 89, 77) 96%);
}

.g,.d1{
  background:radial-gradient(circle, rgb(227, 220, 236) 6%, rgb(162, 89, 244) 96%);
}

.lunch{
  width: 2.3vw;
  background:radial-gradient(circle, rgb(228, 226, 215) 6%, rgb(137, 225, 83) 96%)
}

.p1{ 
  background:radial-gradient(circle, rgb(246, 245, 240) 6%, rgb(238, 138, 95) 96%)
}

.q1{ 
  background:radial-gradient(circle, rgb(246, 245, 240) 6%, rgb(95, 238, 216) 96%)
}

.s1{ 
  background:radial-gradient(circle, rgb(246, 245, 240) 6%, rgb(91, 107, 230) 96%)
}

.b1{ 
  background:radial-gradient(circle, rgb(246, 245, 240) 6%, rgb(238, 95, 193) 96%)
}

.sem{ 
  background:radial-gradient(circle, rgb(246, 245, 240) 6%, rgb(235, 71, 59) 96%)}



span{
  position: absolute;
  top: 0px;
  right: 0px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight:500 ;
  border-left: solid rgba(224, 239, 223, 0.607) 2px;
  border-bottom: solid rgba(224, 239, 223, 0.607) 2px;
  background-color: rgba(255, 33, 225, 0);
  box-shadow: 0vw 0vw 0.5vw;
  border-radius: 0vw 1vw 0vw 5vw;
  padding: 0.25vw;
}
.tut{
  position: relative;
}